extends layout
block content
  h1= title
  if (toShow == null)
    h2 No instance to update 
  else 
    - let gadgetid = toShow._id
    - let gadget_type = toShow.gadget_type
    - let gadgetcost = toShow.cost
    - let gadgetfor = toShow.gadget_for
    div.row(class='mb-2')
        div.mr-1 ID is
        div #{gadgetid}
    - let actionid = "/resource/gadgets/" + gadgetid
    form(id='gadgetForm', action= actionid, method="PUT")
        div.form-group
        label.gadgetAttr(for='gadget_type') Gadget Type
        input#gadget_type(type='text', name='gadget_type', value= gadget_type )
        div.form-group
        label.gadgetAttr(for='gadget_for') Gadget For
        input#size(type='text', name='gadget_for', value= gadgetfor )
        div.form-group
        label.gadgetAttr(for='cost') Gadget Cost
        input#cost(type='number', name='cost', value= gadgetcost )
        input(type="submit")
    script.
        document.forms['gadgetForm'].addEventListener('submit', (event) => {
        event.preventDefault();
        // TODO do something here to show user that form is being submitted
        fetch(event.target.action, {
            method: 'PUT',
            body: new URLSearchParams(new FormData(event.target)) // event.target is the form
        }).then((resp) => {
            return resp.json(); // or resp.text() or whatever the server sends
        }).then((body) => {
            alert("Update succeeded")
            // TODO handle body
        }).catch((error) => {
            // TODO handle error
            alert("Update failed " + error )
        });
        });
